.blockquote {
  color: #6c757d;
}

.desc-size {
  font-size: 12px;
}

p:first-of-type:first-letter {
  font-family: 'Yatra One', cursive;
  float: left;
  text-shadow: 4px 5px 0px #eee;
  font-size: 5em;
  line-height: 104%;
  margin: 2px -1px -14px -3px;
  padding-right: 0.1em;
}
