<button *ngIf="Pwa.promptEvent" (click)="installPwa()">Install</button>

<ng-container *ngIf="isWritersPage">
  <!--WRITERS PAGE-->
  <div class="h-90vh segment container d-flex flex-column text-center align-items-center col-lg-8">
    <h2 class="text-center">Pour les écrivains</h2>
    <div class="">
      <p>Écrivez vos histoires, ajoutez les évènements qui peuvent altérer la quête, choisissez quels modules utiliser.
          <br>Proposez à vos lecteurs une véritable expérience au cœur de vos ouvrages.</p>
      <p>Cette fonctionnalité est encore en cours de développement, restez au courant de toutes nos nouveautés en vous
          inscrivant à notre newsletter !</p>
    </div>
    <form [formGroup]="beOnTouchForm"class="col-lg-6 col-sm-12 mt-4">
      <div class="form-group">
        <!-- <label for="validationEmail" class="no-display" required>Email</label> -->
        <input type="email" class="form-control text-center" id="validationEmail" placeholder="Email" formControlName="email"
                [ngClass]="{ 'is-invalid': email.invalid && (email.dirty || email.touched) }">
      </div>
      <div class="container">
        <div class="row justify-content-center mt-4">
          <button class="btn btn-lg btn-outline-primary" (click)="beOnTouch()"
                  [ngClass]="{ 'is-loading is-loading-sm': isBeOnTouch }"
                  [disabled]="isBeOnTouch || beOnTouchForm.invalid">
            M'abonner
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-container>

<ng-container *ngIf="isPricesPage">
  <!--PRICES PAGE-->
  <div class="h-90vh segment">
    <h2 class="text-center">Tarifs</h2>

    <div class="col-lg-7 mx-auto p-0">
      <h3 class="">Abonnements</h3>
      <div class="d-flex justify-content-center">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" width="20%">Formule</th>
              <th scope="col">Accès</th>
              <th scope="col" width="20%">Tarif</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let spec of subscribeSpecs">
              <th class="little-font">{{ spec.name }}</th>
              <td>
                <div class="font-weight-light little-font" *ngFor="let desc of spec.description">{{ desc.name }}</div>
              </td>
              <td class="font-weight-light little-font">{{ spec.price + '€ / m' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <h3 class="title-hardware">Matériels</h3>
      <div class="d-flex justify-content-center">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col" width="20%">Matériel</th>
            <th scope="col">Description</th>
            <th scope="col" width="20%">Tarif</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let spec of hardwareSpecs">
            <th class="little-font">{{ spec.name }}</th>
            <td class="font-weight-light little-font">{{ spec.description }}</td>
            <td class="font-weight-light little-font">{{ spec.price + ' €' }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>
