<ng-container *ngIf="isHomePage">
  <!--HOME PAGE-->
  <div class="h-90vh segment first-segment" id="first-segment">
    <h1 class="text-center">Le livre de rôles, réinventé.</h1>
    <p class="blockquote text-center">Que vous soyez un grand enfant ou petit, vivez pleinement votre propre
                                      histoire.</p>
  </div>
</ng-container>

<ng-container *ngIf="isWritersPage">
  <!--WRITERS PAGE-->
  <div class="h-90vh segment">
    <h2 class="text-center">Pour les écrivains</h2>
    <div class="text-justify">
      <p>Écrivez vos histoire, ajouter les évènements qui peuvent alterner la quête, choisissez quels modules utiliser.
         Proposez à vos lecteur une véritable expérience au cœur de vos ouvrages.</p>
      <p>Cette fonctionnalité est encore en cours de développement, restez au courant de toutes nos nouveautés en vous
         inscrivant à notre newsletter !</p>
    </div>
    <form [formGroup]="beOnTouchForm"class="col-12 mt-4">
      <div class="form-group">
        <label for="validationEmail" class="no-display" required>Email</label>
        <input type="email" class="form-control text-center" id="validationEmail" placeholder="Email" formControlName="email"
                [ngClass]="{ 'is-invalid': email.invalid && (email.dirty || email.touched) }">
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <button class="btn btn-lg btn-dark" (click)="beOnTouch()"
                  [ngClass]="{ 'is-loading is-loading-sm': isBeOnTouch }"
                  [disabled]="isBeOnTouch || beOnTouchForm.invalid">
            M'abonner
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-container>

<ng-container *ngIf="isFeaturesPage">
  <!--FEATURES PAGE-->
  <div class="h-90vh segment">
    <h2 class="text-center">Fonctionnalités</h2>
  </div>
</ng-container>

<ng-container *ngIf="isPricesPage">
  <!--PRICES PAGE-->
  <div class="h-90vh segment">
    <h2 class="text-center">Tarifs</h2>
    <h4 class="">Abonnements</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Formule</th>
          <th scope="col">Accès</th>
          <th scope="col">Tarif</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let spec of subscribeSpecs">
          <th>{{ spec.name }}</th>
          <td>
            <div class="font-weight-light little-font" *ngFor="let desc of spec.description">{{ desc.name }}</div>
          </td>
          <td>{{ spec.price + '€ / mois' }}</td>
        </tr>
      </tbody>
    </table>

    <h2 class="title-hardware">Matériels</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Matériel</th>
        <th scope="col">Description</th>
        <th scope="col">Tarif</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let spec of hardwareSpecs">
        <th scope="row">{{ spec.name }}</th>
        <td class="little-font">{{ spec.description }}</td>
        <td>{{ spec.price + '€' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-container>
