<ng-container *ngIf="isHomePage">
  <!--HOME PAGE-->
  <div class="height-90vh segment first-segment" id="first-segment">
    <h1 class="text-center">Le livre de rôles, réinventé.</h1>
    <p class="blockquote text-center">Que vous soyez un grand enfant ou petit, vivez pleinement votre propre
                                      histoire.</p>
  </div>
</ng-container>

<ng-container *ngIf="isWritersPage">
  <!--WRITERS PAGE-->
  <div class="height-90vh segment">
    <h1 class="text-center">Pour les écrivains</h1>
    <p>Écrivez vos histoire, ajouter les évènements qui peuvent alterner la quête, choisissez quels modules utiliser.
       Proposez à vos lecteur une véritable expérience au cœur de vos ouvrages.</p>
    <p>Cette fonctionnalité est encore en cours de développement, restez au courant de toutes nos nouveautés en vous
       inscrivant à notre newsletter !</p>
    <form [formGroup]="beOnTouchForm">
      <div class="row">
        <div class="col-lg-8">
          <div class="form-group">
            <label for="validationEmail" class="no-display" required>Email</label>
            <input type="email" class="form-control" id="validationEmail" placeholder="Email" formControlName="email"
                   [ngClass]="{ 'is-invalid': email.invalid && (email.dirty || email.touched) }">
          </div>
        </div>
        <div class="col-lg-4">
          <button class="btn btn-lg btn-block btn-primary mb-3" (click)="beOnTouch()"
                  [ngClass]="{ 'is-loading is-loading-sm': isBeOnTouch }"
                  [disabled]="isBeOnTouch || beOnTouchForm.invalid">
            Tenez-moi au courant
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-container>

<ng-container *ngIf="isFeaturesPage">
  <!--FEATURES PAGE-->
  <div class="height-90vh segment">
    <h1 class="text-center">Les fonctionnalités</h1>
  </div>
</ng-container>

<ng-container *ngIf="isPricesPage">
  <!--PRICES PAGE-->
  <div class="height-90vh segment">
    <h1 class="text-center title-1-prices">Tarifs Storystation</h1>
    <h2 class="title-subscribe">Abonnements</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Formule</th>
        <th scope="col">Accès</th>
        <th scope="col">Tarif</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let spec of subscribeSpecs">
        <th scope="row">{{ spec.name }}</th>
        <td>
          <ul>
            <li *ngFor="let desc of spec.description">{{ desc.name }}</li>
          </ul>
        </td>
        <td>{{ spec.price + '€ / mois' }}</td>
      </tr>
      </tbody>
    </table>
    <h2 class="title-hardware">Matériels</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Matériel</th>
        <th scope="col">Description</th>
        <th scope="col">Tarif</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let spec of hardwareSpecs">
        <th scope="row">{{ spec.name }}</th>
        <td>{{ spec.description }}</td>
        <td>{{ spec.price + '€' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-container>
