.splash {
    height: 100vh;
}

.joystick {
    width: 240px;
    height: 150px;
    background: url('../../../assets/icons/pl_xs.png') left center;
    animation: play 4s steps(23) infinite;
  }
  
@keyframes play {
  100% { background-position: -5750px; }
}

.fade {
  -webkit-animation: fadeinout 4s linear forwards;
  animation: fadeinout 4s linear forwards;
}

@keyframes fadeinout {
  0% { opacity: 1; }
  65% { opacity: 1; }
  100% { opacity: 0; }
}