<h1>Exemples de cartes de jeu</h1>

<div class="card p-1rem">
  <div class="row">
    <div class="col-12">
      <!--On peut imaginer ici le titre de l'histoire-->
      <h2 class="history-title" id="history-title">La troupe du caméléon</h2>
    </div>
  </div>
  <div class="row">
    <div id="situation" class="col-12">
      <p id="situation-content">Mickael se retrouve soudainement face à un choix compliqué, à quelle troupe offrir le cadeau empoisonné ?</p>
    </div>
    <div class="col-12" id="help">
      <small id="help-content" class="text-center">Utilisez votre module si vous en disposez d'un, sinon, vous pouvez toujours utiliser les couleurs sur votre écran.</small>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-3">
      <div class="button-choice red" aria-label="Bouton rouge" title="Bouton rouge" id="red"></div>
    </div>
    <div class="col-3">
      <div class="button-choice blue" aria-label="Bouton bleu" title="Bouton bleu" id="blue"></div>
    </div>
    <div class="col-3">
      <div class="button-choice green" aria-label="Bouton vert" title="Bouton vert" id="green"></div>
    </div>
    <div class="col-3">
      <div class="button-choice yellow" aria-label="Bouton jaune" title="Bouton jaune" id="yellow"></div>
    </div>
  </div>
  <div class="row" style="margin-top: 1rem;">
    <div class="col-12">
      <p class="text-center h3"><countdown [config]="{leftTime: 2}" (finished)="onFinished()">$!m!:$!s!$!s-ext!</countdown></p>
    </div>
  </div>
</div>
