<h1>Exemples de cartes de jeu</h1>

<div class="card">
  <div class="row">
    <div class="col-12">
      <h2 class="history-title" id="history-title">La troupe du caméléon</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Mickael se retrouve soudainement face à un choix compliqué, pilule bleue ou pilule rouge ? Il doit vite faire un choix, le iencli n'attend pas.</p>
    </div>
    <div class="col-12">
      <small class="text-center">Utilisez votre module si vous en disposez d'un, sinon, vous pouvez toujours utiliser les couleurs sur votre écran.</small>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-3">
      <div class="button-choice red" id="red"></div>
    </div>
    <div class="col-3">
      <div class="button-choice blue" id="blue"></div>
    </div>
    <div class="col-3">
      <div class="button-choice green" id="green"></div>
    </div>
    <div class="col-3">
      <div class="button-choice yellow" id="yellow"></div>
    </div>
  </div>
  <div class="row" style="margin-top: 1rem;">
    <div class="col-12">
      <p class="text-center h3">00:10</p>
    </div>
  </div>
</div>
