.card {
  margin-top: 2rem;
}

#help {
  background-color: #f8f9fa;
}

.button-choice {
  height: 30px;
  width: 30px;
  margin: 0 auto;
  border-radius: 2px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
