nav {
  background-color: #a91628 !important;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.navbar-brand {
  color: white !important;
  font-weight: bolder;
  letter-spacing: 4px;
}

.navbar-nav a {
  color: white !important;
  font-weight: 300;
  letter-spacing: 2px;
}

.navbar-toggler {
    box-shadow: none !important;
    outline: 0px !important;
    border: none;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url(../../../assets/icons/logo-right.png) !important;
  width: 23px;
}

.collapsed .navbar-toggler-icon {
  background-image: url(../../../assets/icons/logo-left.png) !important;
  width: 23px;
}

.logo-lg {
  margin-bottom: 7px;
}

@media all and (orientation: portrait) {
  .logo-lg {
    display: none;
  }
}
