<nav class="navbar navbar-expand-lg navbar-light bg-light test">

  <a class="navbar-brand primary" routerLink="">storystation
    <img src="../../../assets/icons/logo-right.png" class="logo-lg" alt="logo-lg" width="20px">
  </a>

  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navBarStorystation"
          aria-controls="navBarStorystation" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navBarStorystation">
    <ul class="navbar-nav ml-auto">

      <ng-container *ngFor="let menu of menus">
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link href text-right mr-3" [routerLink]="menu.url"
             *ngIf="(isLogged === menu.display_when_logged && isLogged !== menu.display_when_not_logged) || (menu.display_when_logged && menu.display_when_not_logged)">
            {{ menu.name }}
          </a>
        </li>
      </ng-container>

    </ul>
  </div>
</nav>