<div class="card text-center">
  <h2 class="card-header text-uppercase red">{{ story.title }}</h2>
  <div class="card-body col-lg-8 mx-auto">
    <div>
      <hr class="quote">
      <p class="text-italic text-quote">{{ moduleContent.description }}</p>
      <hr>
    </div>

    <a (click)="moduleActivated()"
      class="btn btn-lg btn-outline-primary-inverted mt-2 href"
      *ngIf="!launchModule">
      Activer le module
    </a>

    <div *ngIf="launchModule" class="alert alert-danger card-text mx-auto mt-4 col-lg-9 red">
      <p class="text-center h3">
        <countdown [config]="{leftTime: moduleContent.time_max}" (finished)="onFinished('KO')">$!m!:$!s!$!s-ext!</countdown>
      </p>
    </div>
  </div>
</div>
