$background-light: #fafafa;
$story-red: #a91628;

$grey: #f8f9fa;
$pink: #d7959d;
$black: #000;
$white: #fff;

$dark-card-1: rgba(0, 0, 0, 0.14);
$dark-card-2: rgba(0, 0, 0, 0.12);
$dark-card-3: rgba(0, 0, 0, 0.2);

$quote-dark: #3A3A3A;

$input-background-dark: rgba(169, 22, 40, 0.05);
