@import "./_colors";
$border-solid-red: 2px solid $story-red;

/*****
==================
### COLORS
==================
*****/
.red {
  color: $story-red;
}

.grey {
  background-color: $grey !important;
}

/*****
==================
### BUTTONS
==================
*****/
.btn {
  font-size: 16px;
}

.btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary:visited,
.btn-outline-primary:focus,
.btn-outline-primary-inverted:hover {
  border: $border-solid-red !important;
  color: $story-red !important;
  border-radius: 30px;
  background: $white !important;
  box-shadow: none !important;
}

.btn-outline-primary:hover {
  border: $border-solid-red !important;
  color: $white !important;
  border-radius: 30px;
  background: $story-red !important;
}

.btn-outline-primary-inverted,
.btn-outline-primary-inverted:active,
.btn-outline-primary-inverted:visited,
.btn-outline-primary-inverted:focus {
  border: $border-solid-red !important;
  color: $white !important;
  border-radius: 30px;
  background: $story-red !important;
  box-shadow: none !important;
}

/*****
==================
### QUOTES
==================
*****/
.quote {
  position: relative;
}

.quote:before {
  position: absolute;
  content: '“ ”';
  color: $pink;
  top: -8px;
  width: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: $white;
  font-size: 37px;
  height: 21px;
}

.text-quote {
  font-size: 18px;
  color: $quote-dark;
  font-weight: 300;
  letter-spacing: 2px;
}

/*****
==================
### FORMS
==================
*****/
.form-control::-webkit-input-placeholder {
  color: $black;
}

/*****
==================
### OTHER ELEMENTS
==================
*****/
.href {
  cursor: pointer;
}

.no-border {
  border: 0;
}

.no-display {
  display: none;
}

.block-display {
  display: block;
}

.little-font {
  font-size: 14px
}
