.mb-1rem {
  margin-bottom: 1rem;
}

.mt-1rem {
  margin-top: 1rem;
}

.ml-1rem {
  margin-left: 1rem;
}

.mt-1rem {
  margin-right: 1rem;
}

.m-1rem {
  margin: 1rem;
}

.no-m {
  margin: 0;
}

.no-mb {
  margin-bottom: 0;
}

.no-mt {
  margin-top: 0;
}

.no-ml {
  margin-left: 0;
}

.no-mr {
  margin-right: 0;
}
