.pb-1rem {
  padding-bottom: 1rem;
}

.pt-1rem {
  padding-top: 1rem;
}

.pl-1rem {
  padding-left: 1rem;
}

.pt-1rem {
  padding-right: 1rem;
}

.p-1rem {
  padding: 1rem;
}

.p-1rem {
  padding: 1rem;
}

.no-p {
  padding: 0;
}

.no-pb {
  padding-bottom: 0;
}

.no-pt {
  padding-top: 0;
}

.no-pl {
  padding-left: 0;
}

.no-pr {
  padding-right: 0;
}
