<div class="div-user-stories col-lg-8 mx-auto p-0 text-center" id="div-user-stories">
  <h2 class="text-center">Histoires</h2>
  <p class="text-center">Commencez une nouvelle histoire, ou bien reprenez là où vous en étiez.</p>

  <div class="new-story" id="new-story">
    <h3>Nouvelle histoire</h3>
    <ng-container *ngIf="totalCurrentStories > 0">
      <div class="font-weight-light">
        <p>Envie de vous lancer dans une nouvelle aventure ?<br>Cliquez sur le bouton ci-dessous, et laissez vous guider
           par le générateur d'histoires.</p>
      </div>

      <h4>Sélectionner un scénario</h4>
      <p *ngFor="let story of stories">{{story.title}}
        <input type="radio" (click)="selectStory(story)" />
      </p>
    </ng-container>

    <button type="button" class="btn btn-lg btn-outline-primary mt-3" routerLink="/stories/create">
      Nouvelle histoire
    </button>
  </div>
</div>
