<div class="div-user-stories" id="div-user-stories">
  <h1 class="text-center">Histoires</h1>
  <p class="text-center">Commencez une nouvelle histoire ou reprenez là où vous en étiez</p>
  <div class="current-stories mb-1rem" id="current-stories">
    <h2>Histoires en cours</h2>
    <ul>
      <li>Histoire 01 (Dernière sauvegarde le 01/01/2001)</li>
      <li>Histoire 02 (Dernière sauvegarde le 01/01/2001)</li>
      <li>Histoire 03 (Dernière sauvegarde le 01/01/2001)</li>
    </ul>
  </div>
  <div class="new-story" id="new-story">
    <h2>Nouvelle histoire</h2>
    <button>Nouvelle histoire</button>
  </div>
</div>
