<div class="div-login" id="div-login">
  <h1 class="text-center">Inscrivez-vous, c'est gratuit, c'est pas cher</h1>

  <form [formGroup]="loginForm">
    <div class="form-group">
      <label for="validationEmailPseudo" required>Email ou pseudo</label>
      <input type="text" formControlName="emailPseudo" class="form-control" id="validationEmailPseudo" placeholder="Email ou pseudo"
             [ngClass]="{ 'is-invalid': emailPseudo.invalid && (emailPseudo.dirty || emailPseudo.touched) }">
      <!--<div *ngIf="emailPseudo.invalid && (emailPseudo.dirty || emailPseudo.touched)" class="invalid-feedback">
        {{ getErrorMessage("emailPseudo") }}
      </div>-->

      <label for="validationPassword" required>Email</label>
      <input type="password" formControlName="password" class="form-control" id="validationPassword" placeholder="Mot de passe"
             [ngClass]="{ 'is-invalid': password.invalid && (password.dirty || password.touched) }">
      <!--<div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
        {{ getErrorMessage("password") }}
      </div>-->
    </div>

    <button class="btn btn-lg btn-block btn-primary mb-3" (click)="login()"
            [ngClass]="{ 'is-loading is-loading-sm': isLogin }"
            [disabled]="isLogin || loginForm.invalid">
      Se connecter
    </button>
    <button class="btn btn-lg btn-block btn-primary mb-3" routerLink="/register">S'enregistrer</button>
  </form>
</div>
