<div class="div-login" id="div-login">
  <h2 class="text-center">Connexion</h2>
  <div class="d-flex justify-content-center align-items-center container">
    <form [formGroup]="loginForm" class="col-lg-6 col-sm-12 text-center">
      <div class="form-group">
        <label for="validationEmailPseudo" required>Email / Pseudo</label>
        <input type="text" formControlName="emailPseudo" class="form-control text-center" id="validationEmailPseudo"
               placeholder="Email / Pseudo"
               [ngClass]="{ 'is-invalid': emailPseudo.invalid && (emailPseudo.dirty || emailPseudo.touched) }">
        <div *ngIf="emailPseudo.invalid && (emailPseudo.dirty || emailPseudo.touched)" class="invalid-feedback">
          Email invalide
        </div>
      </div>

      <div class="form-group">
        <label for="validationPassword" required>Mot de passe</label>
        <input type="password" formControlName="password" class="form-control text-center" id="validationPassword"
               placeholder="Mot de passe"
               [ngClass]="{ 'is-invalid': password.invalid && (password.dirty || password.touched) }">
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
          Mot de passe invalide
        </div>
      </div>

      <div class="container mt-4">
        <button class="btn btn-lg btn-dark m-2" (click)="login()"
                [ngClass]="{ 'is-loading is-loading-sm': isLogin }"
                [disabled]="isLogin || loginForm.invalid">
          Se connecter
        </button>

        <button class="btn btn-lg btn-dark m-2" routerLink="/register">S'enregistrer</button>
      </div>
    </form>
  </div>
</div>
