<div class="card text-center">
    <h2 class="card-header text-uppercase red">
        L'invasion
    </h2>
    <div class="card-body">
        <div class="col-lg-8 mx-auto">
        <hr class="quote">
            <p class="text-italic text-quote">Mickael décide de s'aventurer dans l'usine.<br>Il se retrouve face à un zombie sans bras.</p>
        <hr>
        </div>
        <p class="card-text col-lg-8 mt-4 mx-auto">Peu d'issues s'offrent à lui.</p>
        <div class="container mt-4">
        <a href="#" class="btn btn-outline-primary m-2 col-lg-2 col-sm-4">Prendre l'ascenseur</a>
        <a href="#" class="btn btn-outline-primary m-2 col-lg-2 col-sm-4">Sauter par la fenêtre</a>
        <a href="#" class="btn btn-outline-primary m-2 col-lg-2 col-sm-4">Attaquer le zombie</a>
        </div>
    </div>
</div>
