<div class="card text-center mb-4">
  <h2 class="card-header text-uppercase red">{{ story.title }}</h2>
  <div class="card-body">
    <div class="col-lg-8 mx-auto">
      <hr class="quote">
      <p class="text-italic text-quote">{{ moduleContent.description }}</p>
      <hr>
    </div>
    <div class="container mt-2">
      <a *ngFor="let button of buttons; let i = index" class="href btn btn-lg btn-outline-primary-inverted m-2"
         [id]="'choice_button_' + i" (click)="clickButton(button)">
        {{ button.name }}
      </a>
    </div>
  </div>
</div>
