<div class="card text-center">
    <h2 class="card-header text-uppercase red">
        L'invasion
    </h2>
    <div class="card-body">
        <div class="col-lg-8 mx-auto">
        <hr class="quote">
            <p class="text-italic text-quote">Mickael décide de s'aventurer dans l'usine.<br>Il se retrouve face à un zombie sans bras.</p>
        <hr>
        </div>
        <div class="container mt-2">
            <a *ngFor="let click of clicks" href="#" class="btn btn-lg btn-outline-primary-inverted m-2">{{ click.name }}</a>
        </div>
    </div>
</div>
