@import "shared/styles/_card";
@import "shared/styles/_colors";
@import "shared/styles/_elements";
@import "shared/styles/_fonts-families";
@import "shared/styles/_heights";
@import "shared/styles/_margins";
@import "shared/styles/_paddings";
@import "shared/styles/_widths";

* {
  font-family: $work-sans, $sans-serif;
}

.grey {
  background-color: $grey!important;
}

h2 {
  margin-bottom: 30px;
  font-family: 'Lexend Deca', sans-serif;
  text-transform: uppercase;
}

td, th {
  padding: 6px !important;
}

ul {
  list-style-type: none;
}

.btn {
  font-size: 16px;
}

.little-font {
  font-size: 14px
}
