@import "shared/styles/_card";
@import "shared/styles/_colors";
@import "shared/styles/_elements";
@import "shared/styles/_fonts-families";
@import "shared/styles/_heights";
@import "shared/styles/_margins";
@import "shared/styles/_paddings";
@import "shared/styles/_widths";

* {
  font-family: $work-sans, $sans-serif;
}

.grey {
  background-color: $grey!important;
}

h2 {
  font-size: 28px;
  letter-spacing: 5px;
  margin-bottom: 30px;
  font-family: 'Lexend Deca', sans-serif;
  text-transform: uppercase;
}

h3 {
  font-size: 21px;
}

.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited, .btn-outline-primary:focus {
  border: 2px solid #a91628 !important;
  color: #a91628 !important;
  border-radius: 30px;
  background: white !important;
  box-shadow: none !important;
}

input {
  background-color: rgba(169, 22, 40, 0.05) !important;
  border: none !important;
  color: black !important
}

.form-control::-webkit-input-placeholder {
  color: black;
}

td, th {
  padding: 6px !important;
}

ul {
  list-style-type: none;
}

.btn {
  font-size: 16px;
}

.little-font {
  font-size: 14px
}

.red {
  color: #a91628;
}

.quote {
  position: relative;
}

.quote:before {
  position: absolute;
  content: '“ ”';
  color: #d7959d;
  top: -8px;
  width: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  font-size: 37px;
  height: 21px;
}

.text-quote {
  font-size: 18px;
  color: grey;
  font-weight: 200;
  letter-spacing: 2px;
}

.btn-outline-primary-inverted, .btn-outline-primary:hover, .btn-outline-primary-inverted:active, .btn-outline-primary-inverted:visited, .btn-outline-primary-inverted:focus {
  border: 2px solid #a91628 !important;
  color: white !important;
  border-radius: 30px;
  background: #a91628  !important;
  box-shadow: none !important;
}

.btn-outline-primary-inverted:hover {
  border: 2px solid #a91628 !important;
  color: #a91628 !important;
  border-radius: 30px;
  background: white  !important;
  box-shadow: none !important;
}
